body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
#colorDisplay {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-color: white;
}
#colorOptions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.colorOption {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.1s;
}

.colorOption:hover {
    transform: scale(1.1);
}

#newGameButton {
    cursor: pointer;
    padding: 10px;
    margin :20px auto;
}
